{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "Authentication": {
    "Discord": {
      "AppId": "PUT YOUR APPID HERE",
      "AppSecret": "PUT YOUR SECRET HERE"
    }
  },
   "Database": {
     "PostgreSQL": {
       "ConnectionString": "User ID=YOUR USER HERE;Password=YOUR PW HERE;Host=localhost;Port=5432;Database=adjutant;"
     }
   },
   "Adjutant": {
    "FrontendOAuthCallback": "http://localhost:4200/login/callback"
   },
  "AllowedHosts": "*"
}
